body {
  background-color: #0B0C10;
  font-family: var(--font-body);
  color: #C5C6C7;
}

.main-heading {
  background: linear-gradient(90deg, #1f2833 0%, #1e7d79 100%);
  -webkit-box-shadow: 10px 3px 26px 0 #66FCF1, 11px -7px 21px 0 #85c5cc;
  box-shadow: 10px 3px 26px 0 #66FCF1, 11px -7px 21px 0 #85c5cc;
}

h1 {
  color: #C5C6C7;
}

h2, h3, h4, h5 {
  color: #C5C6C7;
}

.sub-heading {
  color: var(--d);
}

a{
  color: #C5C6C7;
}

section {
  background: linear-gradient(90deg, #1f2833 0%, #1e7d79 100%);
  -webkit-box-shadow: 4px 7px 20px -1px #96d6f5;
  box-shadow: 4px 7px 20px -1px #66FCF1;
}

.section-button {
  color: #C5C6C7;
}

.section-button:hover, .section-button:focus, .section-button:active {
  color: #e7e8e9;
}

input {
  color: #060606;
  background-color: #50eae0;
}


.listButton {
  background-color: #66FCF1;
  color: #565656;
}

.listButton.selected {
  background-color: #333746;
  color: #fefefe;
  -webkit-box-shadow: 0px 1px 9px 4px #66FCF1; 
  box-shadow: 0px 1px 9px 4px #66FCF1;
}

.monkey{
  background-color: #66FCF1;
  color: #565656;
}

.titleRow{
  background-color:#2deadd !important;
}

.modal-content {
  background: linear-gradient(90deg, #1f2833 0%, #1e7d79 100%);
}

.modalTitleRow, .modalDetailRow{
  color: #C5C6C7;
}

.loader {
  border: 2px solid #0B0C10; 
  border-top: 2px solid #66FCF1;
}

.loader-detail{
    border: 20px solid #0B0C10; 
    border-top: 20px solid #66FCF1;
    border-bottom: 20px solid #66FCF1;
}